<h1>id:<%= @task.id %>edit page</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :content, 'task' %>
  <%= f.text_field :content %>
  <%= f.submit 'submit' %>
<% end %>

<%= link_to 'Index', tasks_path %>
<%= link_to 'Detail', task_path(@task) %>